.standingout {
    margin-bottom: 140px;

    &__heading {
        font-size: 5rem;
        // color: $secondary_blue;
        margin-top: 0;
        padding-top: 6rem;
        margin-bottom: 25px;

        &::before {
            content: "";
            height: 0.75rem;
            width: 300px;
            display: inline-block;
            margin-bottom: 15px;
            vertical-align: middle;
            margin-right: 3.5rem;
            background-color: #e3f307;
        }
    }

    &__cards {
        position: relative;
        width: 21.875rem;
        height: 25rem;
        text-align: center;
        background-color: #f5f5f5;
        overflow: hidden;
        transition: 0.25s ease-in-out;

        &:hover {
            img {
                display: none;
            }
        }

        img {
            width: 350px;
            height: 250px;
        }
    }
    &__wrapper {
        max-width: 70rem;
        padding-top: 50px;
        padding-left: 1.25rem;
        padding-right: 1.25rem;
        margin: -50px auto;
        display: flex;
        flex-wrap: wrap;
        gap: 1.75rem;
        flex-direction: row;
        justify-content: center;
    }

    &__title {
        padding-left: 1.25rem;
        text-align: left;
        font-size: 1rem;
        color: #001186;

        &::after {
            position:absolute;
            content: "";
            height: 0.25rem;
            width: 64px;
            display: inline-block;
            vertical-align: middle;
            right: 0%;
            background-color: #0020f6;
        }
    }

    &__desc {
        font-size: 0.875rem;
        text-align: left;
        padding-left: 1.25rem;
        padding-right: 1.25rem;
    }
}

@media screen and (max-width:768px) {
    .standingout {

        &__heading {
            font-size: 3.125rem;

            &::before {
                width: 30px;
                margin-right: 1rem;
            }
        }

        &__cards {
            width: 20rem;

            img {
                width: 20rem;
            }
        }
        &__wrapper {
            margin: -50px 30px;
        }
    }
}